* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  text-decoration: none;
  list-style-position: inside;
  background-repeat: no-repeat;
  font-size: 1rem;
  color: #d4d4d4;
}

.desktop {
  display: flex;
  gap: 10%;
}

.mobile {
  display: none;
}

.tablet {
  display: none;
}

/* header */
header {
  background-color: #2b2b2b;
  color: #d4d4d4;
  padding-top: 2px;
}

nav {
  display: flex;
  background-color: #181818;
}

nav div {
  display: flex;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav div a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-active {
  border-top: #007acc solid 2px;
  padding: 1%;
  background-color: #2b2b2b;
}

.nav-inactive {
  padding: 1%;
}

.nav-inactive:hover {
  background-color: #2b2b2b;
  border-top: #007acc solid 2px;
}

nav .fa-html5 {
  color: #e44f26;
}

nav .fa-css3-alt {
  color: #33a9dc;
}

nav .fa-js {
  color: #f5de19;
}

.intro {
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

header ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}

header li {
  display: block;
  margin-left: 2em;
  font-size: 1.25rem;
}

header li::before {
  display: inline-block;
  content: counter(item) "";
  counter-increment: item;
  width: 2.25em;
  margin-left: -2em;
  color: #808073;
}

header ol li a {
  font-size: 1.25rem;
  color: #2667cb;
}

header ol li a span {
  text-decoration: #00ccb8 underline;
  color: #00ccb8;
}

header ol li a span:hover {
  text-decoration: #22cc00 wavy underline;
  color: #22cc00;
}

.main-ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}

.main-ol li {
  display: block;
  margin-left: 2em;
  font-size: 1.25rem;
}

.main-ol li::before {
  display: inline-block;
  content: counter(item) "7";
  counter-increment: item;
  width: 2.25em;
  margin-left: -4.1em;
  color: #808073;
}

h1 {
  color: #8cdcfe;
  font-size: 1.25rem;
  font-weight: 400;
}

span {
  font-size: 1.25rem;
}

header p {
  font-size: 1.25rem;
}

.gray {
  color: #808073;
}

.blue {
  color: #2667cb;
}

.blue2 {
  color: #8cdcfe;
}

.orange {
  color: #ce9178;
}

.yelow {
  color: #ffd700;
}

.yelow2 {
  color: #b4ba7d;
}

.green {
  color: #b5cea8;
}

.green2 {
  color: #5e9955;
}

.purple {
  color: #9579c0;
}
/* header. */

/* main */
main {
  padding: 21px 0;
  background-color: #2b2b2b;
}

.main-contact {
  padding: 0 0 40px 80px;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-bottom: 0.5rem;
  width: 400px;
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.input-container input,
textarea {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  resize: none;
  color: #2b2b2b;
}

button.form-btn {
  align-self: flex-start;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  background: #00ccb8;
  color: #181818;
}

button.form-btn:hover {
  background: #007acc;
  color: #d4d4d4;
  cursor: pointer;
}
/* form. */

.h2-title {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

h2 {
  font-size: 2rem;
}

.project-wrapper {
  display: grid;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(400px, auto));
}

.project-wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 25px;
}

h3 {
  font-size: 2rem;
  display: block;
  filter: blur(0);
}

.project-1 {
  background-image: url("./images/Age-App.jpg");
  background-size: cover;
  grid-column: 1/2;
  grid-row: 2;
}

.project-2 {
  background-image: url("./images/Torr\ FoodTech.png");
  background-size: cover;
  grid-column: 1/4;
  grid-row: 1;
}

.project-3 {
  background-image: url("./images/Tama-Mobile.jpg");
  background-size: cover;
  grid-column: 4;
  grid-row: 1/3;
}

.project-4 {
  background-image: url("./images/SUPRA\ Dental\ Innovations.png");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2;
}

.project-5 {
  background-image: url("./images/Mandel.png");
  background-position: 97%;
  background-size: cover;
  grid-column: 1/3;
}

.project-6 {
  background-image: url("./images/Ran\ Poliakine.png");
  background-size: cover;
  background-position: 90%;
  grid-column: 3/5;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 500px;
  gap: 2rem;
  padding-left: 6rem;
  padding-bottom: 2.25rem;
}

.skills i:hover {
  color: #00ccb8;
}
/* main. */

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 0.5rem 1rem;
  background-color: #007acc;
  color: #d4d4d4;
}

footer div {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

footer a {
  color: #d4d4d4;
}
/* footer. */
